# Ignore virtual environment
atlasapprox_disease_api_env

documentation/
__pycache__/
__init__.py

.env


app.yaml

compression_manifest_18_jul_2024.json
ensembl_to_gene.csv

.json

.dockerignore

.gcloudignore